body {
  background-image: url(images/photo-1572314997669-275cf96124fc.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 401px;
}
.container2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 401px;
  margin-right: 25px;
}
.form {
  display: flex;
  justify-content: flex-start;
  padding-top: 1%;
  padding-left: 9.75%;
}
.input {
  border: 5px solid #ff0000;
}
.fireBtn {
  font-weight: bold;
  background-color: #fff8e7;
  border: 5px solid #7b4400;
}
/* need to hide the ships and when hit reveal*/
.cpuSpace {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 12px;
  text-align: start;
}
.playerSpace {
  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 401px;
  border: 5px solid gray;
  background-color: #3d6c96;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 12px;
  text-align: start;
  font-size: 12px;
  text-align: start;
}
.cpuShip {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #e11500;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 12px;
  text-align: start;
}
.playerShip {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #e11500;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 12px;
  text-align: start;
}
.ocean {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 12px;
  text-align: start;
}
.miss {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 15px;
  width: 13px;
  margin: 1px;
  padding: 2%;
  position: relative;
  opacity: 0.2;
  text-decoration: none;
}
.cputitle {
  border: 5px solid #7b4400;
  max-height: 80px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  background-color: #fff8e7;
  padding: 1%;
}
.playertitle {
  border: 5px solid #7b4400;
  max-height: 80px;
  border-radius: 50%;
  margin-left: 300px;
  text-align: center;
  font-size: 25px;
  background-color: #fff8e7;
  padding: 1%;
}
