body {
  background-image: url(images/e68_1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.holdSpace {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 15px;
  width: 15px;
  margin: 1px;
  padding: 2%;
  position: relative;
}
.ship {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #e11500;
  height: 15px;
  width: 15px;
  margin: 1px;
  padding: 2%;
  position: relative;
}
