body {
  background-image: url(images/zoltan-tasi-HTpAIzZRHvw-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 5%;
}
.container2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 5%;
}
.container3 {
  display: flex;
  justify-content: flex-start;
  padding: 1%;
  padding-left: 9.75%;
}
.input {
  border: 2px solid #ff0000;
  padding-right: 10%;
  margin-right: 25px;
}
.fireBtn {
  font-weight: bold;
  background-color: #fff8e7;
  border: 5px solid rgba(0, 0, 0, 0.139);
  margin-top: 3%;
}
/* need to hide the ships and when hit reveal*/
.cpuSpace {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 15px;
  text-align: start;
}
.playerSpace {
  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #3d6c96;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 15px;
  text-align: start;
}
.cpuShip {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #e11500;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 15px;
  text-align: start;
}
.playerShip {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #e11500;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 15px;
  text-align: start;
}
.ocean {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  font-size: 15px;
  text-align: start;
}
.miss {
  display: inline-flex;
  flex-wrap: wrap;
  border: 5px solid gray;
  background-color: #2a4f6e;
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2%;
  position: relative;
  opacity: 0.2;
  font-size: 15px;
  text-align: start;
}
.cputitle {
  border: 5px solid #7b4400;
  max-height: 80px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  background-image: url(images/luke-southern-N5GCFcsVbys-unsplash.jpeg);
  background-size: cover;
  color: white;
  padding: 1%;
}
.playertitle {
  border: 5px solid #7b4400;
  max-height: 80px;
  border-radius: 50%;
  margin-left: 300px;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  background-image: url(images/luke-southern-N5GCFcsVbys-unsplash.jpeg);
  background-size: cover;
  color: white;
  padding: 1%;
}
.dropdown {
  position: relative;
  display: inline block;
  color: #fff8e7;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.cpuscore {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  padding: 2%;
  margin-right: 50px;
}
.playerscore {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  padding: 2%;
  margin-left: 500px;
}
